<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Welcome to BHOS Proctor</title>
</head>
<body>
    <h1>Welcome to BHOS Proctor</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Proctoring is a process of monitoring the activities of a candidate during an exam. Proctoring is a
                    process of monitoring the activities of a candidate during an exam. Proctoring is a process of
                    monitoring the activities of a candidate during an exam. Proctoring is a process of monitoring the
                    activities of a candidate during an exam.
                </p>
                <a href="/login" class="btn btn-primary">Login</a>
                <a href="/register" class="btn btn-primary">Register</a>
            </div>
            <div class="col-md-6">
                <img src="https://bhos.edu.az/frq-templates/assets/img/logo.png" alt="Bhos logo" width="500px">
            </div>
        </div>
    </div>
</body>
</html>