<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1>Login</h1>

                <form action="/login" method="POST">
                    <% if (errors.length> 0) { %>
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                <% errors.forEach(error=> { %>
                                    <li>
                                        <%= error %>
                                    </li>
                                    <% }) %>
                            </ul>
                        </div>
                        <% } %>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email"
                                    placeholder="Enter email">
                                <br>
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password"
                                    placeholder="Password">
                            </div>
                            <div class="form-check">
                                <input class="" type="radio" name="role" id="teacher" value="teacher" checked>
                                <label class="" for="teacher"> Teacher </label>
                                <br>
                                <input class="" type="radio" name="role" id="student" value="student">
                                <label class="" for="student"> Student </label>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                </form>
                <div class="d-flex justify-content-left">
                    <p>Don't have an account? <a href="/register">Register</a></p>
                </div>
            </div>
            <div class="col-md-4 ">
                <img src="https://bhos.edu.az/frq-templates/assets/img/logo.png" alt="Bhos logo" width="500px">
                <p class="text-center">
                    "Education is the future of the nation"
                </p>
                <p class="text-center">
                    - Heydar Aliyev -
                </p>

            </div>
        </div>
    </div>

</body>

</html>