<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>List of students</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"><a href="/student_list?sort=name">Student Name</a></th>
                            <th scope="col"><a href="/student_list?sort=email">Student Email</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i < students.length; i++) { %>
                        <tr>
                            <td><%= students[i].name %></td>
                            <td><%= students[i].email %></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            const sort = document.querySelector('a');
            sort.addEventListener('click', (e) => {
                e.preventDefault();
                const url = new URL(e.target.href);
                const sort = url.searchParams.get('sort');
                fetch(`/student_list?sort=${sort}`)
                    .then((res) => res.json())
                    .then((data) => {
                        console.log(data);
                        const tbody = document.querySelector('tbody');
                        tbody.innerHTML = '';
                        data.students.forEach((student) => {
                            tbody.innerHTML += `
                                <tr>
                                    <td>${student.name}</td>
                                    <td>${student.email}</td>
                                </tr>
                            `;
                        });
                    });
            });
        </script>
</body>
</html>